
{%extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<html style="background-color: black">
 <body style="background-color: black">
     
 <h1 style="color:green"><center>Contact Info</center></h1>
<div class="homepage">
        <p style="color:red">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

     <h3 style=" color: white; font-size: 220%">Email:itsmeitachi.hc.3@gmail.com</h3>
    <h3 style="color: white; font-size: 220%">Mobile Number:  09*********</h3>
    </div>
</body>
</html>

{% endblock content %}