
{%extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
<html style="background-color: black">
 <body style="background-color: black">

<p class="homepage">
    <h1 style="color:green"><center><b>- RESUME -</b></center> </h1>

        <p style="color:red">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

        <p><strong style="color:white">* SCHOOL :</strong></p>
        <p style="color:white"><strong>Senior High School :</strong> Camarines Sur National High School</p>
        <p style="color:white"><strong>Junior High School :</strong> Camarines Sur National High School</p>
        <p style="color:white"><strong>Elementary :</strong> Tabuco Central School</p>
        <p style="color:red">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

        <p><strong style="color:white">* Address :</strong></p>
        <p style="color:white"><strong>Blk 19 Lt 42 Sn. Alfonso Homes Pacol N.C</strong></p>
        <p style="color:red">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

        <p><strong style="color:white">* Contact Num :</strong></p>
        <p style="color:white"><strong>NONE</strong></p>
        <p style="color:red">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

        <p><strong style="color:white">* Name :</strong></p>
        <p style="color:white"><strong>Harold C. Cama</strong></p>
        <p style="color:red">----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>

</div>
</body>
</html>

{% endblock content %}